html, body{
    margin: 0;
    background: #eee;
    font-family: sans-serif;
    font-size: 20px;
    line-height: 1.4;
}

* {
  box-sizing: border-box;
}

.page-wrapper {
  overflow: hidden;
  max-width: 100%;
  position: relative;
}

img {
  display: inline-block;
  vertical-align: top;
  max-width: 100%;
}

.banner {
  min-height: 100vh;
  display: flex;
  align-items: center;
  padding: 50px 10%;
  color: #fff;
  position: relative;
}

.banner:before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 2;
  background-color: rgba(0,0,0,.45);
}

.banner h1 {
  margin: 0;
  font-size: 78px;
  position: relative;
  z-index: 3;
}

.content {
  max-width: 80vw;
  margin: 0 auto;
}

.float-left {
  float: left;
  max-width: 50%;
  margin-right: 1rem;
  margin-bottom: 1rem;
}

.float-right {
  float: right;
  margin-bottom: 1rem;
  margin-left: 1rem;
  max-width: 50%;
}

.fullscreen {
  display: block;
  width: 100%;
  margin-bottom: 1rem;
}

.flex-block {
  display: flex;
  justify-content: center;
  width: 100%;
}

.flex-block .img-holder {
  width: 50%;
  margin-right: 2rem;
}

.relative-block {
  position: relative;
}

.relative-block img {
  position: absolute;
  top: 1rem;
  left: 1rem;
  max-width: 15%;
}
